:root {
    --primary: #2563eb;
    --bg: #adb6ac;
    --text: #1f2933;
    --font: Arial;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background: var(--bg);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    height: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.link-a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.link-a:hover {
    border-radius: 20%;
    background: blue;
}

footer {
    background: var(--bg);
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
}

.hero{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 10px 10px;
    background: linear-gradient(135deg, #fdfffd, #d6dbd6);
    color: var(--text);
    font-family: var(--font);
}

.hero-content{
    max-width: 500%;
}


.hero-content h2{
    font-size: 2.8rem;
    margin-bottom: 20px;
}


.hero-content p{
  font-size: 1.1rem;
  margin-bottom: 30px;
  line-height: 1.5rem;
}

.