* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #0ba0f6;
    --cor-segundaria: #0a0a0a;
    --cor--fundo: #f8f9fa;
    --cor-texto: #333333;
    --cor-destaque: #2196f3;
    --fonte-principal: 'segoi UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor--fundo);
    color: var(--cor-texto);
    line-height: 1.5;
}

header {
    background-color: var(--cor-segundaria);
    color: white;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--cor-primaria);
}

.logo:hover {
    background-color: var(--cor-destaque);
    color: var(--cor--fundo);
    transition: color 1s ease;
    transition: background 1s ease;
    border-radius: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 6px 10px;
    border-radius: 10px;
    transition:
        background-color 0.5s ease,
        color 0.5s ease;
}

nav a:hover,
a:focus-visible {
    background-color: var(--cor-destaque);
    color: var(--cor--fundo);
}

.hero {
    height: 600px;
    /*ver essa questção da imagem*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05)), url('images/banner.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0.1rem;
}

.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-content h1 span {
    color: var(--cor-primaria);
}

.hero-content p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 2rem;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.6rem;
    background-color: var(--cor-primaria);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
    /*peso da linha não usa unidade de medida*/
    transition: background-color 0.3s, transform 0.2s;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn:hover {
    background-color: #e64a19;
    transform: translateY(-3px);
}

.sobre {
    padding: 5rem 2rem;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 3rem;
    background-color: rgb(245, 244, 244);
}

.sobre-img {
    flex: 1rem;
    max-width: 500px;
    height: 400px;
    background-color: #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.sobre-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sobre-content {
    flex: 1;
}

.sobre-titulo {
    color: var(--cor-segundaria);
    font-size: 2rem;
    margin-bottom: 1.5rem;
    position: relative;
    display: inline-block;
}

.sobre-titulo::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: var(--cor-primaria);
}

.sobre-content a {
    margin: 2rem;
}

.servicos {
    padding: 5rem 2rem;
    background-color: #f0f0f0;
}

.servicos-header {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 3rem;
}

.sobre-title {
    color: var(--cor-segundaria);
    font-size: 2rem;
    margin-bottom: 1.5rem;
    position: relative;
    display: inline-block;
}

.sobre-title::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: var(--cor-primaria);
}


.servicos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}


.card {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin-bottom: 30px;
}

.card:hover {
    transform: translateY(-30px);
}

.card-img {
    height: 200px;
    background-color: #ddd;
    background-size: cover;
    background-position: center;
}

.card-content {
    padding: 1.5rem;
}

.card-content h2 {
    margin-bottom: 0.5rem;
    color: var(--cor-segundaria);
}

.card-content h2::before {
    content: '✔ ';
    color: var(--cor-primaria);
}

.depoimentos{
    padding: 5rem 2rem;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.depoimentos-grid{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    margin-top: 3rem;
}

.depoimentos-card{
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgb(0, 0, 0.1);
    transition: transform 0.3s;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.depoimentos-card:hover{
    transform: translateY(-5px);
}

.depoimentos-foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.depoimentos-conteudo{
    padding: 1.5rem;
}

.depoimentos-conteudo h3{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--cor-segundaria);
}

.estrelas{
    color: var(--cor-primaria);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.depoimentos-conteudo{
    font-style: italic;
    line-height: 1.5rem;
    color: #555;
}